.section-title {
	margin: 56px auto 72px auto;
	text-align: center;
	max-width: 80%;
}

.section-title-headline, .section-title-description {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-title-headline {
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 16px;
}

.section-title-description {
	line-height: 150%;
	margin: 0 80px;
}